---
import { storyblokEditable, renderRichText, type ISbRichtext } from '@storyblok/astro'
import SbRichText from '../components/SbRichText.astro';

type Props = {
  blok: {
    text: ISbRichtext;
  }
}

const { blok } = Astro.props
const {text} = blok

---

<section  {...storyblokEditable(blok)} class="layout-px layout-py bg-secondary layout__cta" >
  <div class="container">
    <SbRichText content={text} />
 
    <form class="contact-form" method="POST" 
   data-netlify="true"
    >
      <div class="two-col">
        <label>
        Name
        <input type="text" name="name" required />
      </label>
      <label>
        Email
        <input type="email" name="email" required />
      </label>
        </div>
      <label>
        Message
        <textarea name="message" rows="5" required></textarea>
      </label>
      <button type="submit" class="primary">Send Message</button>
    </form>
  </div>
</section>

<style>
  section{
    min-height: 85vh;
    display: grid;    
    place-content: start;
  }

  .container{
    max-width: 44rem
  }

  .contact-form {
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;
  }

  .two-col {
      display: grid;
      gap: inherit;
    }

  .contact-form label {
    display: grid;
    gap: 0.5rem;
    color: var(--text-secondary);
    font-size: var(--fs-2);
    line-height: 1;
  }

  .contact-form :where(input, textarea){
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  @media (min-width: 769px) {
    section{
        
    place-content: center;
    }

    .two-col {
      grid-template-columns: 1fr 1fr;
    }
  }

</style>